<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776371277606-ssurgfluu9knt9v3q74eqo77bkn1c2iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776371277606-ssurgfluu9knt9v3q74eqo77bkn1c2iv</string>
	<key>API_KEY</key>
	<string>AIzaSyCWjYIjdLL9GhoXDgrv-eEC54v89DaMvds</string>
	<key>GCM_SENDER_ID</key>
	<string>776371277606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thephantomdev.working</string>
	<key>PROJECT_ID</key>
	<string>working-app-01</string>
	<key>STORAGE_BUCKET</key>
	<string>working-app-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776371277606:ios:18feda6e75ac6339b33be7</string>
</dict>
</plist>